<ng-container *ngIf="hasItems">
  <ion-virtual-scroll [items]="items">
    <ion-item *virtualItem="let item" (click)="openInNewTab(item.url, item.id); item.clicked=true;">
      <ion-avatar slot="start">
        <ion-img [src]="item.mediaThumbnail ? item.mediaThumbnail : 'https://'+item.url.split('/')[2]+'/favicon.ico'"></ion-img>
      </ion-avatar>
      <ion-grid style="max-width: 100%;">
        <ion-row>
          <ion-label style="white-space: normal;" [ngClass]="{'text-muted': item.clicked}">{{ item.title }}</ion-label>
        </ion-row>
        <ion-row>
          <ion-note style="white-space: nowrap;">{{ item.url }}</ion-note>
          <ion-note>{{ (item.pubDate*1000) | date : 'HH:mm - dd.MM.yy' }}</ion-note>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-virtual-scroll>
</ng-container>

<ion-label *ngIf="!hasItems"><p style="text-align: center; margin-top: 10px;">No unread articles.</p></ion-label>
