<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Unread articles <span *ngIf="articles && (articles.length > 0)">({{articles.length}})</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Unread articles <span *ngIf="articles && (articles.length > 0)">({{articles.length}})</span></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <app-article-list [items]="articles"></app-article-list>
  </div>
</ion-content>