<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <!-- Home -->
        <ion-list id="labels-list">
          <ion-list-header>NX News</ion-list-header>
          <ion-note>{{ userString }}</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="selectedIndex = -2" routerDirection="root" [routerLink]="'/unread'" lines="none" detail="false" [class.selected]="selectedIndex == -2">
              <ion-icon slot="start" ios="list-outline" md="list-sharp"></ion-icon>
              <ion-label>Unread</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <!-- Folder -->
        <!-- <ion-list id="inbox-list" style="padding-top: 0;">
          <ion-list-header>Feeds</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> -->

        <!-- Settings -->
        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="selectedIndex = -1" routerDirection="root" [routerLink]="'/settings'" lines="none" detail="false" [class.selected]="selectedIndex == -1">
            <ion-icon slot="start" ios="settings-outline" md="settings-sharp"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
